<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">{{Translate[lang].TEXT_STORES}}</h3>
                    </div>
                </div>
                <!-- .nk-block-between -->
            </div>
            <!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <!-- .card-inner -->
                        <div class="card-inner card card-bordered card-stretch">
                            <div class="row pb-1">
                                <div class="col-md-4 text-center">
                                    <div class="input-icon mt-2 w-75">
                                        <i class="fa fa-search"></i>
                                        <input type="text" ng-model="search" class="colorpicker-default form-control" placeholder="{{Translate[lang].TEXT_SEARCH}}" />
                                    </div>

                                </div>
                                <div class="col-md-8 text-right">
                                    <!-- Button trigger modal -->
                                    <button class=" btn btn-info" class-name="sbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#store">
                                        <span><i class="icon ni ni-plus"></i></span></button>
                                    <button ng-click="exportToPdf('tblMaster')" class="text-right btn btn-info">
                                        <img src="../../theme/images/icons/pdf.png" width="20px"
                                            class="mrx text-right" />&nbsp;
                                        {{Translate[lang].TEXT_EXPORT_PDF}} &nbsp;
                                    </button>
                                    <button ng-click="exportToExcel('#tblMaster')" class="text-right btn btn-info">
                                        <img src="../../theme/images/icons/xls.png" width="20px"
                                            class="mrx text-right" />&nbsp;{{Translate[lang].TEXT_EXPORT_EXCEL}} &nbsp;
                                    </button>
                                    <button ng-click="print('#printTable')" id="print" class="text-right btn btn-info">
                                        <img src="../../theme/images/icons/print-131964753156480777.png" width="20px"
                                            class="mrx text-right" />{{Translate[lang].TEXT_PRINT}}
                                    </button>
                                </div>
                            </div>
                            <!-- store Form -->

                            <div class="modal fade" tabindex="-1" id="store">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{Translate[lang].addStore}}</h5>
                                            <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                                                <em class="icon ni ni-cross"></em>
                                            </a>
                                        </div>

                                        <form class="form-validate is-alter" name="addStore" ng-submit="addstore(storeform)">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="form-label" for="full-name">{{Translate[lang].storeName}}</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="full-name" ng-model="storeform.storeName" name="store" ng-required="true" />
                                                    </div>
                                                    <span class="text-danger" ng-show="addStore.store.$dirty&&addStore.store.$error.required">
                                                        {{Translate[lang].MSG_REQUIRED}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="modal-footer bg-light">
                                                <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="addstore(storeform)" ng-disabled="addStore.$invalid">
                                                    {{Translate[lang].ADD}}
                                                </button>
                                                <a href="#" class="close btn btn-warning" data-dismiss="modal" aria-label="Close">{{Translate[lang].CANCEL}}</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div id="printDiv" class="w-100 table-responsive">
                                    <table id="tblMaster" class="table table-striped table-lg">
                                        <thead class="bg-blue-dim">
                                            <tr class="">
                                                <th sort by="order" reverse="reverse" order="'personName'">
                                                    {{Translate[lang].TEXT_STORE_NAME}}</th>
                                                <th class="d-print-none">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="nk-tb-item" dir-paginate="item in stores|orderBy:sortKey:reverse|filter:search|itemsPerPage:perPageCount track by $index">
                                                <td class="nk-tb-col tb-col-md">
                                                    {{item.storeName}}
                                                </td>
                                                <td class="cursor d-print-none" ng-if="hideLastColumn != true">
                                                    <span class="pl-2 pr-2 pt-0 pb-0 btn btn-outline-info btn-sm ml-3" data-toggle="modal" data-target="#exampleModal2" title="{{Translate[lang].TEXT_EDIT}}" ng-click="fillStoreData(item)">
                                                        <i class="icon ni ni-edit"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            <!-- .nk-tb-item  -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row pt-2">
                                    <div class="col-md-6">
                                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                                        </dir-pagination-controls>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-right">
                                            <select ng-init="perPageCount == 20" ng-model="perPageCount" class="dropDown1 colorpicker-default form-control w-auto p-0 d-inline-flex">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                                <option value="100000">الكل</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .card-inner-group -->
                    </div>
                    <!-- .card -->
                </div>
                <!-- .nk-block -->
            </div>
        </div>
    </div>

    <!-- Modal for edit -->

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{Translate[lang].TEXT_UPDATE_STORE}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form name="formsto">
                    <div class="modal-body">
                        <div class="form-group col-md-12">
                            <label class="justify-start"> {{Translate[lang].TEXT_STORE_NAME}}
                                <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="  {{Translate[lang].TEXT_STORE_NAME}}" name="st" ng-model="editStore.storeName" ng-required="true" />
                            <span class="text-danger" ng-show="formsto.st.$touched && formsto.st.$error.required">{{Translate[lang].MSG_REQUIRED}}</span>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-start">
                        <button id="sbtn1" ng-disabled="formsto.$invalid" ng-click="updateStore(editStore)" type="submit" class="btn btn-secondary" data-dismiss="modal">{{Translate[lang].TEXT_UPDATE}}</button>
                        <button id="sbtn2" type="button" data-dismiss="modal" class="btn btn-primary">{{Translate[lang].TEXT_CANCEL}}</button>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <!-- End modal for edit -->