            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                    <div class="brand-logo pb-4 text-center">
                      
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title text-center">{{Translate[lang].TEXT_CHANGE_TITLE_PASSWORD}}</h5>
                                    <div class="nk-block-des">
                                    </div>
                                </div>
                            </div>
                            <form name="confirm" ng-submit="changePassword(ResetPassword)">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_CURRENT_PASSWORD}}
                                        <span class="text-danger">*</span>
                                        </label>
                                    </div>
                                    <input type="password" name="curPassword" email ng-model="ResetPassword.oldPassWord"
                                        ng-required="true" class="form-control form-control-lg" id="default-01"
                                        placeholder={{Translate[lang].TEXT_CURRENT_PASSWORD}}>
                                    <span class="text-danger" ng-show="confirm.curPassword.$error.required
                                    &&confirm.curPassword.$dirty">{{Translate[lang].TEXT_PASSWORD_CURRENT_REQUIRED}}</span>
                        
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_NEW_PASSWORD}}
                                            <span class="text-danger">*</span>

                                        </label>
                                    </div>
                                    <input type="password" name="password"  ng-model="ResetPassword.newPassWord"
                                        ng-required="true" class="form-control form-control-lg" id="default-01"
                                        placeholder={{Translate[lang].TEXT_NEW_PASSWORD}}>
                                    <span class="text-danger" ng-show="confirm.password.$error.required
                                    &&confirm.password.$dirty">{{Translate[lang].TEXT_PASSWORD_NEW_REQUIRED}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_CONFIRM_NEW_PASSWORD}}
                                            <span class="text-danger">*</span>

                                        </label>
                                    </div>
                                    <input type="password" name="confirmPassword" ng-required="true"
                                        ng-model="ResetPassword.ConfirmPassword" class="form-control form-control-lg"
                                        id="default-01" placeholder={{Translate[lang].TEXT_CONFIRM_NEW_PASSWORD}}>
                                    <span class="text-danger"   ng-show="confirm.confirmPassword.$error.required
                                    &&confirm.confirmPassword.$dirty">
                                        {{Translate[lang].TEXT_CONFIRM__NEW_PASSWORD_REQUIRED}}.</span>
                                    <span class="text-danger" ng-show="ResetPassword.ConfirmPassword!==ResetPassword.newPassWord
                                        &&confirm.confirmPassword.$dirty">
                                        {{Translate[lang].TEXT_PASS_CONFPASS_NOT_MATCH}}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit"
                                        ng-disabled="confirm.$invalid ||(ResetPassword.ConfirmPassword!==ResetPassword.newPassWord)"
                                        class="btn btn-lg btn-primary btn-block">
                                        {{Translate[lang].Text_CHANGE_password}}</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
