<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- wrap @s -->
        <div class="nk-wrap nk-wrap-nosidebar">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                    <div class="brand-logo pb-4 text-center">
                        <a href="html/index.html" class="logo-link">
                            <img class="logo-light logo-img logo-img-lg" src="theme/images/logo.png"
                                srcset="./images/logo2x.png 2x" alt="logo">
                            <img class="logo-dark logo-img logo-img-lg" src="theme/images/logo-dark.png"
                                srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                        </a>
                    </div>
                    <div class="card card-bordered">
                        <div class="card-inner card-inner-lg">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">{{Translate[lang].Text_update_password}}</h5>
                                    <div class="nk-block-des">
                                        <p class="text-success">{{Translate[lang].Text_message}}</p>
                                    </div>
                                </div>
                            </div>
                            <form name="confirm">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_EMAIL_LOGIN}}</label>
                                    </div>
                                    <input type="email" name="email" email ng-model="ResetPassword.email"
                                        ng-required="true" class="form-control form-control-lg" id="default-01"
                                        placeholder={{Translate[lang].TEXT_ENTER_EMAIL}}>
                                    <span class="text-danger" ng-show="confirm.email.$error.required
                                    &&confirm.email.$touched">{{Translate[lang].TEXT_EMAIL_REQUIRED}}</span>
                                    <span class="text-danger"
                                        ng-show="confirm.email.$touched && confirm.email.$error.email">{{Translate[lang].MSG_INVALID_EMAIL}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_PASSWORD}}</label>
                                    </div>
                                    <input type="password" name="password" email ng-model="ResetPassword.password"
                                        ng-required="true" class="form-control form-control-lg" id="default-01"
                                        placeholder={{Translate[lang].TEXT_ENTER_PASSWORD}}>
                                    <span class="text-danger" ng-show="confirm.password.$error.required
                                    &&confirm.password.$dirty">{{Translate[lang].TEXT_PASSWORD_CURRENT_REQUIRED}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="form-label"
                                            for="default-01">{{Translate[lang].TEXT_CONFIRM_PASSWORD}}</label>
                                    </div>
                                    <input type="password" name="confirmPassword" email
                                        ng-model="ResetPassword.ConfirmPassword" class="form-control form-control-lg"
                                        id="default-01" placeholder={{Translate[lang].TEXT_CONFIRM_ENTER_PASSWORD}}>
                                    <span class="text-danger" ng-show="confirm.confirmPassword.$error.required
                                    &&confirm.confirmPassword.$touched">
                                        {{Translate[lang].TEXT_CONFIRM_PASSWORD_REQUIRED}}.</span>
                                    <span class="text-danger" ng-show="ResetPassword.ConfirmPassword!==ResetPassword.password
                                        &&confirm.confirmPassword.$dirty">
                                        {{Translate[lang].TEXT_PASS_CONFPASS_NOT_MATCH}}
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" ng-click="ChangePassword()"
                                        ng-disabled="confirm.$invalid ||(ResetPassword.ConfirmPassword!==ResetPassword.password)"
                                        class="btn btn-lg btn-primary btn-block">
                                        {{Translate[lang].Text_update_password}}</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- wrap @e -->
        </div>
        <!-- content @e -->
    </div>
    <!-- main @e -->
</div>